[Desktop Entry]
Version=1.0
Type=Application
Name=firefox
Comment=
Exec=/opt/firefox/firefox
Icon=/opt/firefox/browser/icons/mozicon128.png
Path=
Terminal=false
StartupNotify=false
